
$main_font: Trebuchet MS, sans-serif;
$title_font:'Exo2', sans-serif;
$screen_xs:576px;
$screen_sm:768px;
$screen_lg:1200px;
$add_color:#1a82ff;
$selected_color:#d91667;
$disabled_color:#b3b3b3;
$pale_color:#666;
$item_width:320px;
$item_margin:15px;
$card_weight_d:80px;

